$frame-handle-height: 10px;
$editor-height: 20px;

.container {
  $container-border-width: 2px;
  $container-border-radius: 8px;

  display: flex;
  flex-direction: column;

  border-radius: $container-border-radius;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;

  background: var(--color-background);
  border: $container-border-width solid var(--color-divider);

  &[data-selected="true"] {
    border-color: var(--color-selection-stroke);
    border-width: $container-border-width;
  }

  &[data-placeholder="true"] {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--color-background);
      border-radius: $container-border-radius;
      border: $container-border-width dashed var(--color-low-border);
      box-sizing: border-box;
    }
  }
}

.editorContainer {
  display: flex;
  height: $editor-height;
  min-height: $editor-height;
}

.durationDisplay {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.shrink {
    background: linear-gradient(90deg, var(--color-background) 0%, var(--color-background) 90%, var(--color-primary) 100%);
  }
}

.frameBlock {
  background: var(--color-primary);
}

.durationHandle {
  width: 10px;
  height: 100%;
}
