$header-row-height: 40px;
$row-height: 30px;
$inbetween-droppable-cell-width: 16px;

.timelineContainer {
  position: relative;
  display: flex;
  flex-direction: row;

  .column {
    display: flex;
    flex-direction: column;
    min-width: 40px;
    padding: 0 0 var(--space-2);
  }

  .headerLessColumn {
    padding-top: $header-row-height;
  }

  .droppableCell {
    &.over {
      background: var(--color-muted-2);
    }
  }

  .inbetweenDroppableCell {
    width: $inbetween-droppable-cell-width;
    height: 100%;
  }

  .droppableColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headerCell {
    height: $header-row-height;
  }

  .frameBatchCell {
    position: relative;
    width: 100%;
    height: $row-height;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .frameBatchControl {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 8px;
  }

  .frameAddButtonContainer {
    position: absolute;
    left: 100%;
    z-index: 10;
    // width: $inbetween-droppable-cell-width;
    display: none; // Hidden by default, shown on hover
    align-items: center;
    justify-content: center;
    gap: 4px;

    .hoverExpandedPart {
      display: none;
    }
  }
  &:not(.dragging) {
    .frameBatchControl:hover > .frameAddButtonContainer,
    .frameAddButtonContainer:hover {
      display: flex;
    }

    .frameAddButtonContainer:hover > .hoverExpandedPart {
      display: flex;
    }
  }

  .activeColumnIndicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.3s ease;
    display: block;
    opacity: 0;
    box-shadow: 0 0 2px 1px var(--color-selected);
    border-radius: var(--radius-2);
  }
}

.frameButton {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: transparent;
  color: currentColor;
  cursor: pointer;
  pointer-events: all;
  font-weight: inherit;
  font-family: inherit;
  line-height: inherit;
  text-rendering: optimizeLegibility;
  font-size: 12px;
  gap: 0px;
  color: var(--color-text-1);
  border-radius: var(--radius-2);

  &:hover {
    background: var(--color-muted-2);
  }

  &.selected {
    font-weight: bold;
  }
}

.subFrameIconContainer {
  margin-left: 8px;
}

.frameIcon {
  color: var(--color-text-1);
  background: var(--color-background);
  box-shadow: var(--shadow-1);
  /* Circle shape */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  box-sizing: content-box;
  border: 2px solid transparent;

  &:hover {
    background: color-mix(in srgb, var(--color-background), #ccc 20%);
  }

  &.selected {
    border-color: var(--color-selected);
  }

  &.subFrame {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
  }
}

.popoverContent {
  padding: var(--space-4);
}
